<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.android.usb-monitor</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>SCRIPT_DIR_PLACEHOLDER/usb-monitor.sh</string>
    </array>
    
    <key>WatchPaths</key>
    <array>
        <string>/var/run/usbmuxd</string>
    </array>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>StandardOutPath</key>
    <string>SCRIPT_DIR_PLACEHOLDER/logs/usb-monitor-stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>SCRIPT_DIR_PLACEHOLDER/logs/usb-monitor-stderr.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
    </dict>
</dict>
</plist>
